name: CI

on:
  push:
    branches: [ master ]
    tags: [ "**" ]
  pull_request:
    branches: [ "**" ]

defaults:
  run:
    shell: bash

jobs:
  build:
    name: ${{ matrix.task.name}} - ${{ matrix.os.name }} ${{ matrix.python.name }}
    runs-on: ${{ matrix.os.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - name: Linux
            runs-on: ubuntu-latest
        python:
          - name: CPython 3.8
            tox: py38
            action: 3.8
        task:
          - name: Build
            tox: build
            coverage: false

    steps:
    - uses: actions/checkout@v2

    - name: Set up ${{ matrix.python.name }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python.action }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install build check-manifest twine

    - uses: twisted/python-info-action@v1

    - name: Build
      run: |
        check-manifest --verbose .

        python -m build --sdist --outdir dist/ .

        mkdir empty/
        cd empty

        tar -xvf ../dist/*
        cd *

        # build the wheel from the sdist
        python -m build --wheel --outdir ../../dist/ .
        cd ../../

        twine check dist/*

    - name: Publish
      uses: actions/upload-artifact@v2
      with:
        name: dist
        path: dist/

  test:
    # Should match JOB_NAME below
    name: ${{ matrix.task.name}} - ${{ matrix.os.name }} ${{ matrix.python.name }}
    runs-on: ${{ matrix.os.runs-on }}
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        os:
          - name: Linux
            runs-on: ubuntu-latest
        python:
          - name: CPython 3.5
            tox: py35
            action: 3.5
          - name: CPython 3.6
            tox: py36
            action: 3.6
          - name: CPython 3.7
            tox: py37
            action: 3.7
          - name: CPython 3.8
            tox: py38
            action: 3.8
          - name: CPython 3.9
            tox: py39
            action: 3.9
          - name: PyPy 3.6
            tox: pypy36
            action: pypy-3.6
          - name: PyPy 3.7
            tox: pypy37
            action: pypy-3.7
        task:
          - name: Test
            coverage: true
        include:
          - os:
              name: Linux
              runs-on: ubuntu-latest
            python:
              name: CPython 3.8
              action: 3.8
            task:
              name: Check
              tox: check
              coverage: false

    env:
      # Should match name above
      JOB_NAME: ${{ matrix.task.name}} - ${{ matrix.os.name }} ${{ matrix.python.name }}
      TOXENV: ${{ matrix.task.tox }}${{ fromJSON('["", "-"]')[matrix.task.tox != null && matrix.python.tox != null] }}${{ matrix.python.tox }}

    steps:
    - uses: actions/checkout@v2

    - name: Download package files
      uses: actions/download-artifact@v2
      with:
        name: dist
        path: dist/

    - name: Set up ${{ matrix.python.name }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python.action }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        pip install tox

    - name: Prepare tox environment
      run: |
        tox --notest --installpkg dist/*.whl

    - name: Runner info
      uses: twisted/python-info-action@v1

    - name: Tox info
      uses: twisted/python-info-action@v1
      with:
        python-path: .tox/${{ env.TOXENV }}/*/python

    - name: Run tox environment
      run: |
        tox --skip-pkg-install

    - name: Coverage Processing
      if: matrix.task.coverage
      run: |
        mkdir coverage_reports
        cp .coverage "coverage_reports/.coverage.${{ env.JOB_NAME }}"
        cp coverage.xml "coverage_reports/coverage.${{ env.JOB_NAME }}.xml"

    - name: Upload Coverage
      if: matrix.task.coverage
      uses: actions/upload-artifact@v2
      with:
        name: coverage
        path: coverage_reports/*

  coverage:
    name: ${{ matrix.task.name}} - ${{ matrix.os.name }} ${{ matrix.python.name }}
    runs-on: ${{ matrix.os.runs-on }}
    needs:
      - test
    strategy:
      fail-fast: false
      matrix:
        include:
          - os:
              name: Linux
              runs-on: ubuntu-latest
            python:
              name: CPython 3.8
              action: 3.8
            task:
              name: Coverage
              tox: check-coverage
              coverage: false
              download_coverage: true

    env:
      TOXENV: ${{ matrix.task.tox }}${{ fromJSON('["", "-"]')[matrix.task.tox != null && matrix.python.tox != null] }}${{ matrix.python.tox }}

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Debugging
      run: |
        git status
        git rev-parse HEAD
        git log -n 4

    - name: Download package files
      uses: actions/download-artifact@v2
      with:
        name: dist
        path: dist/

    - name: Download Coverage
      if: matrix.task.download_coverage
      uses: actions/download-artifact@v2
      with:
        name: coverage
        path: coverage_reports

    - name: Set up ${{ matrix.python.name }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python.action }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        pip install tox

    - name: Prepare tox environment
      run: |
        tox --notest --installpkg dist/*.whl

    - name: Runner info
      uses: twisted/python-info-action@v1

    - name: Tox info
      uses: twisted/python-info-action@v1
      with:
        python-path: .tox/${{ env.TOXENV }}/*/python

    - name: Run tox environment
      run: |
        tox --skip-pkg-install -- --compare-branch=${{ github.base_ref }}

  all:
    name: All
    runs-on: ubuntu-latest
    needs:
      - build
      - coverage
      - test
    steps:
      - name: This
        shell: python
        run: import this
